/*
 * A CSS file for making our site look pretty
 */

html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #222;
  color: #AAA;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
  padding: 0px;
}


.page {
  flex: 1;
  padding: 1em;
}

input, textarea {
  padding: .5em;
}

h1 a {
  color: #DDD;
}

.footer  {
  text-align: center;
  padding: 1em 0;
}

.footer a {
  color: #A8DAFF;
}


form {
  display: flex;
  margin: 2em auto;
  max-width: 400px;
}

.output {
  width: 100%;
  max-width: 400px;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.output input {
  display: block;
  margin: 1em;
}

.ac { text-align: center; }
.al { text-align: left; }
.ar { text-align: right; }
.flex { flex: 1 }

@media only screen and (max-width: 500px) {
}
