/*
 * A CSS file for making our site look pretty
 */

body {
  background-color: #222;
  color: #AAA;
  font-family: Arial;
}

h1 {
  text-align: center;
  font-size: 48px;
}

h1 a {
  color: #DDD;
}

pre {
  max-width: 800px;
  border: 1px solid black;
  background-color: white;
  color: blue;
  padding: 20px;
  margin: auto;
  overflow: auto;
}

.footer  {
  margin-top: 40px;
  text-align: center;
  font-size: 10px;
}

.footer a {
  color: #A8DAFF;
}


.cols > .col {
  box-sizing: border-box;
  float: left;
  margin-bottom: 10px;
}

.cols > .col.w50 { width: 50% }

.clear { clear: both }

.ac { text-align: center; }
.al { text-align: left; }
.ar { text-align: right; }

@media only screen and (max-width: 500px) {
  .cols > .col.w50 { width: 100% }
}
